:root {
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
  display: none;
}

::-webkit-scrollbar:horizontal {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.split-parent {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.shiny-text {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgb(255, 255, 255) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
